<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.NavigationTest"/>
      <class name="tests.CustomerCareTest"/>
      <class name="tests.PinCodeTest"/>
      <class name="tests.RatingTest"/>
      <class name="tests.CompareTest"/>
      <class name="tests.GiftcardTest"/>
      <class name="tests.DownloadTest"/>
      <class name="tests.SignUpTest"/>
      <class name="tests.LoginTest"/>
      <class name="tests.ExchangeTest"/>
      <class name="tests.SearchTest"/>
      <class name="tests.GroceryTest"/>
      <class name="tests.BaseClass"/>
      <class name="tests.ShareTest"/>
      <class name="tests.WishlistTest"/>
      <class name="tests.GroupCompanyTest"/>
      <class name="tests.BannerTest"/>
      <class name="tests.CartTest"/>
      <class name="tests.SellerTest"/>
      <class name="tests.BookFlightTest"/>
      <class name="tests.FilterTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
